{% comment %}
Optional values
display_thumbnails: <boolean>
thumbnail_position: <string>
enable_thumbnail_slider: <boolean>
gallery_arrows: <boolean>
slideshow_transition: <string>
enable_product_lightbox: <boolean>
{% endcomment %}

{% comment %}Assign object as block or section{% endcomment %}
{% if type == 'block' %}   
  {% assign object = block %}
{% else %}
  {% assign object = section %}
{% endif %}

{%- assign display_thumbnails = display_thumbnails | default: object.settings.display_thumbnails -%}
{%- assign thumbnail_position = thumbnail_position | default: object.settings.thumbnail_position -%}
{%- assign enable_thumbnail_slider = enable_thumbnail_slider | default: object.settings.enable_thumbnail_slider -%}
{%- assign gallery_arrows = gallery_arrows | default: object.settings.gallery_arrows -%}
{%- assign slideshow_transition = slideshow_transition | default: object.settings.slideshow_transition -%}
{%- assign enable_product_lightbox = enable_product_lightbox | default: object.settings.enable_product_lightbox -%}

{% style %}
  .shopify-model-viewer-ui model-viewer {
    --progress-bar-height: 2px;
    --progress-bar-color: {{ settings.regular_color }};
  }

  {% if set_product_height == true %}
    .product-{{ product.id }} .product-gallery__model model-viewer {
      min-height: {{ product_height }}px;
    }

    .product-{{ product.id }} .product-gallery__main img,
    .product-{{ product.id }} .product-gallery__main .plyr--html5 video,
    .product-{{ product.id }} .product-gallery__main .plyr--youtube {
      max-height: {{ product_height }}px;
    }
  {% endif %}
{% endstyle %}

{% assign featured_image = product.selected_or_first_available_variant.featured_image | default: product.featured_image %}

<div class="product-gallery
            product-gallery__thumbnails--{{ display_thumbnails }}
            product-gallery--media-amount-{{ product.media.size }}
            slideshow-transition--{{ slideshow_transition }}
            {% if thumbnail_position %}
              product-gallery--{{ thumbnail_position }}
            {% endif %}
            display-arrows--{{ gallery_arrows }}
            {% if set_product_height == true %}
              has-height-set
            {%endif %}"
            data-enable-zoom="{{ enable_zoom }}"
            data-video-loop="{{ video_looping }}">
  <div class="product-gallery__main slideshow-transition--{{ slideshow_transition }}" data-product-id="{{ product.id }}" data-media-count="{{ product.media.size }}">

    {% for media in product.media %}

      {% comment %} Check alt text for video iframe {% endcomment %}
      <div class="product-gallery__image "
            data-product-id="{{ product.id }}"
            data-title="{% if image_alt contains 'youtube' or image_alt contains 'vimeo' %}{{ product.title }}{% else %}{{ image_alt | escape }}{% endif %}"
            data-media-type="{% if media.alt contains 'youtube' or media.alt contains 'vimeo' %}external_video{% else %}{{ media.media_type }}{% endif %}">

        {% case media.media_type %}
          {% when 'image' %}

            {% capture image_id %}{{ media.id }}{% endcapture %}
            {% capture image_alt %}{{ media.alt | escape }}{% endcapture %}
            {% capture image_100x %}{{ media | image_url: width: 100 }}{% endcapture %}
            {% capture image_200x %}{{ media | image_url: width: 200 }}{% endcapture %}
            {% capture image_400x %}{{ media | image_url: width: 400 }}{% endcapture %}
            {% capture image_600x %}{{ media | image_url: width: 600 }}{% endcapture %}
            {% capture image_800x %}{{ media | image_url: width: 800 }}{% endcapture %}
            {% capture image_1200x %}{{ media | image_url: width: 1200 }}{% endcapture %}
            {% capture image_2000x %}{{ media | image_url: width: 2000 }}{% endcapture %}
            {% capture image_5000x %}{{ media | image_url: width: 4472 }}{% endcapture %}

            {% if image_alt contains 'youtube' or image_alt contains 'vimeo' %}

              {% assign alt_text = image_alt | split: ' ' %}
              {% for property in alt_text %}
                {% if property contains "src" %}
                  {% assign cleanURL =  property | remove: 'src=' | remove: '&quot;' | remove: '"' %}
                  <div class="product-gallery__video" data-youtube-video>
                    <iframe src="{{ cleanURL }}" frameborder="0"></iframe>
                  </div>
                {% endif %}
              {% endfor %}

            {% else %}
              {% if enable_product_lightbox and product.media.size > 0 %}
                <a href="{{ media | image_url: width: 2048 }}" class="product-gallery__link" data-fancybox="{{ product.id }}" title="{{ media.alt | escape }}">
              {% endif %}

              <div class="image__container" style="max-width: {{ media.width }}px">
                {% if forloop.first %}
                <img id="{{ media.id }}"
                class="lazyload--fade-in"
                alt="{{ media.alt | default: product.title | escape }}"
                fetchpriority="high"
                loading="eager"
                data-zoom-src="{{ image_5000x }}"
                data-image-id="{{ product.media[forloop.index0].id }}"
                data-index="{{ forloop.index0 }}"
                data-src="{{ image_1200x }}"
                data-srcset=" {{ image_200x }} 200w,
                              {{ image_400x }} 400w,
                              {{ image_600x }} 600w,
                              {{ image_800x }} 800w,
                              {{ image_1200x }} 1200w,
                              {{ image_2000x }} 2000w"
                data-aspectratio="{{ media.width }}/{{ media.height }}"
                height="{{ media.height }}"
                width="{{ media.width }}"
                src="{{ image_1200x }}"
                srcset="{{ image_200x }} 200w,
                        {{ image_400x }} 400w,
                        {{ image_600x }} 600w,
                        {{ image_800x }} 800w,
                        {{ image_1200x }} 1200w,
                        {{ image_2000x }} 2000w"
                sizes="(max-width: 640px) 100vw, (max-width: 1024px) 60vw, 800px"
                >
                {% else %}
                <img id="{{ media.id }}"
                class="lazyload lazyload--fade-in"
                alt="{{ media.alt | default: product.title | escape }}"
                data-zoom-src="{{ image_5000x }}"
                data-image-id="{{ product.media[forloop.index0].id }}"
                data-index="{{ forloop.index0 }}"
                data-sizes="auto"
                data-src="{{ image_1200x }}"
                data-srcset=" {{ image_200x }} 200w,
                              {{ image_400x }} 400w,
                              {{ image_600x }} 600w,
                              {{ image_800x }} 800w,
                              {{ image_1200x }} 1200w,
                              {{ image_2000x }} 2000w"
                data-aspectratio="{{ media.width }}/{{ media.height }}"
                height="{{ media.height }}"
                width="{{ media.width }}"
                srcset="data:image/svg+xml;utf8,<svg%20xmlns='http://www.w3.org/2000/svg'%20width='{{ media.width }}'%20height='{{ media.height }}'></svg>"
                >
                {% endif %}
              </div>

              <noscript>
                <img src="{{ image_1200x }}"
                     alt="{{ image_alt | escape }}"
                     class="lazyloaded lazyload fallbackImage" />
              </noscript>

              {% if enable_product_lightbox and product.media.size > 0 %}
                </a>
              {% endif %}
            {% endif %}
          {% when 'external_video' %}
            <div class="product-gallery__video" data-youtube-video>
              {{ media | external_video_tag }}
            </div>
          {% when 'video' %}
            <div class="product-gallery__video" data-html5-video>
              {{ media | video_tag: image_size: '300x300', controls: true }}
            </div>
          {% when 'model' %}
            <div class="product-gallery__model is-relative">
              {{ media | model_viewer_tag: reveal: 'interaction', toggleable: true, image_size: '800x800' }}

              <button class="action_button view-in-your-space" data-shopify-xr data-shopify-model3d-id="{% if media.media_type == 'model' %}{{ media.id }}{% else %}{{ has_model.id }}{% endif %}" data-shopify-title={{ product.title }} style="display: none;">
                <svg width="33" height="33" viewBox="0 0 33 33" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M16 9L22.0622 12.5V19.5L16 23L9.93782 19.5V12.5L16 9Z" stroke="#3A3A3A" stroke-width="1.5"/>
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M16 23V15.6024C16.6225 15.2002 16.6225 15.2002 16.6225 15.2002L22 12V19.4082L16 23Z" fill="#3A3A3A"/>
                </svg>
                {{ 'products.product.view_in_your_space' | t | capitalize }}
              </button>
            </div>
          {% else %}
            {{ media | media_tag }}
        {% endcase %}
      </div>
    {% endfor %}
  </div>
  {% if display_thumbnails == true %}
    {% if thumbnail_position != 'no-thumbnails' and product.media.size > 1 %}
      <div class="product-gallery__thumbnails
                product-gallery__thumbnails--{{ thumbnail_position }}
                js-gallery-carousel
                is-slide-nav--{{ enable_thumbnail_slider }}
                {% if enable_thumbnail_slider == false %}
                  container equal-columns--outside-trim
                  is-justify-center
                {% endif %}">
        {% for media in product.media %}

          {% if media.media_type contains 'video' %}
            {% assign thumbnail_badge = 'video-thumbnail' %}
          {% elsif media.media_type contains 'model' %}
            {% assign thumbnail_badge = '3d-thumbnail' %}
          {% else %}
            {% assign thumbnail_badge = '' %}
          {% endif %}

          <div class="product-gallery__thumbnail one-fifth column is-relative"
                data-title="{{ media.alt | escape }}"
                data-media-id="{{ media.id }}"
                data-index="{{ forloop.index0 }}"
                tabindex="0">
            <img src="{{ media | image_url: width: 300 }}" alt="{{ media.alt | default: product.title | escape }}" loading="lazy" width="{{ media.width | at_most: 300 }}" height="{{ media.height | times: 300 | divided_by: media.width | floor }}">
            {% if thumbnail_badge != blank %}
              {% render 'icon',
                      name: thumbnail_badge,
                      icon_class: 'media-badge'
              %}
            {% endif %}
          </div>
        {% endfor %}
      </div>
    {% endif %}
  {% endif %}
</div>

{% comment %}
  D18: prevent lazysizes loading gallery images for non-selected slides (fade carousel bug).
  Also filters thumbnail strip to show only the current variant's images.
{% endcomment %}
<script>
{%- assign lc_type_opt_pos = -1 -%}
{%- assign lc_colour_opt_pos = -1 -%}
{%- assign lc_iv = product.selected_or_first_available_variant -%}
{%- assign lc_iv_type = '' -%}
{%- assign lc_iv_colour = '' -%}
{%- for opt in product.options -%}
  {%- if opt == 'Type' -%}
    {%- assign lc_type_opt_pos = forloop.index -%}
    {%- assign lc_iv_type = lc_iv.options[forloop.index0] -%}
  {%- endif -%}
  {%- if opt == 'Colour' -%}
    {%- assign lc_colour_opt_pos = forloop.index -%}
    {%- assign lc_iv_colour = lc_iv.options[forloop.index0] | downcase -%}
  {%- endif -%}
{%- endfor -%}
{%- assign lc_initial_thumb_alt = 'unframed' -%}
{%- if lc_iv_type == 'Framed' and lc_iv_colour != 'n/a' and lc_iv_colour != '' -%}
  {%- assign lc_initial_thumb_alt = lc_iv_colour | append: ' frame' -%}
{%- elsif lc_iv_type == 'Glass' -%}
  {%- assign lc_initial_thumb_alt = 'glass' -%}
{%- endif -%}
window.lcTypeOptionPosition   = {{ lc_type_opt_pos }};   // 1-based
window.lcColourOptionPosition = {{ lc_colour_opt_pos }}; // 1-based
window.lcInitialThumbAlt      = {{ lc_initial_thumb_alt | json }};
</script>
<script>
// All deferred scripts (jQuery, Flickity, theme JS) are guaranteed loaded by DOMContentLoaded.
document.addEventListener('DOMContentLoaded', function() {
  var $ = window.jQuery;

  // Scope lazybeforeunveil to the gallery container rather than document.
  // Attaching to document would intercept every lazy image on the page
  // (related products, recommendations, etc.) and could suppress their loading.
  var galleryMain = document.querySelector('.product-gallery__main');
  if (galleryMain) {
    galleryMain.addEventListener('lazybeforeunveil', function(e) {
      var img = e.target;
      var slide = img.closest ? img.closest('.product-gallery__image') : null;
      if (slide && !slide.classList.contains('is-selected')) {
        e.preventDefault();
      }
    });
  }

  function loadSlideImages(slide) {
    if (!slide) return;
    slide.querySelectorAll('.lazyload[data-srcset], .lazyload[data-src]').forEach(function(img) {
      if (img.dataset.lcDone) return;
      img.dataset.lcDone = '1';
      if (img.dataset.srcset) img.srcset = img.dataset.srcset;
      if (img.dataset.src)    img.src    = img.dataset.src;
      if (img.dataset.sizes && img.dataset.sizes !== 'auto') img.sizes = img.dataset.sizes;
      img.classList.remove('lazyload');
      img.classList.add('lazyloaded');
      img.dispatchEvent(new CustomEvent('lazyloaded', { bubbles: true }));
    });
  }

  function getTargetAlt(variant) {
    var typePos   = window.lcTypeOptionPosition;
    var colourPos = window.lcColourOptionPosition;
    if (!variant || typePos < 1) return 'unframed';
    var type = variant['option' + typePos];
    if (type === 'Framed' && colourPos >= 1) {
      var colour = variant['option' + colourPos];
      if (colour && colour !== 'N/A') return colour.toLowerCase() + ' frame';
    }
    if (type === 'Glass') return 'glass';
    return 'unframed';
  }

  var lcThumbsInitialized = false;
  var lcPrevTargetAlt = null;

  function navigateMainGallery(targetAlt) {
    var gallery = document.querySelector('.product-gallery__main');
    if (!gallery) return;
    var flkty = window.Flickity && window.Flickity.data(gallery);
    if (!flkty) return;
    var slides = Array.from(gallery.querySelectorAll('.product-gallery__image'));
    // For unframed, go to slide 0 (reference image). Otherwise find first matching alt.
    var idx = 0;
    if (targetAlt !== 'unframed') {
      for (var i = 0; i < slides.length; i++) {
        var img = slides[i].querySelector('img');
        if (img && img.alt.toLowerCase() === targetAlt) { idx = i; break; }
      }
    }
    flkty.select(idx);
  }

  function applyThumbnailVisibility(targetAlt) {
    var thumbsEl = document.querySelector('.product-gallery__thumbnails');
    if (!thumbsEl) return;
    var allThumbs = Array.from(thumbsEl.querySelectorAll('.product-gallery__thumbnail'));

    function swap() {
      allThumbs.forEach(function(t) {
        var matches = (t.dataset.title || '').toLowerCase() === targetAlt;
        t.style.display = matches ? '' : 'none';
      });
      thumbsEl.classList.add('lc-thumbs-active');
      var flkty = window.Flickity && window.Flickity.data(thumbsEl);
      if (flkty) flkty.resize();
    }

    if (!lcThumbsInitialized) {
      lcThumbsInitialized = true;
      lcPrevTargetAlt = targetAlt;
      thumbsEl.style.transition = '';
      thumbsEl.style.opacity    = '';
      thumbsEl.style.transform  = '';
      swap();
      return;
    }

    // Navigate main gallery whenever the type/colour changes
    if (targetAlt !== lcPrevTargetAlt) navigateMainGallery(targetAlt);

    // Thumbnails only animate when the set actually changes (not on size change)
    if (targetAlt === lcPrevTargetAlt) return;
    lcPrevTargetAlt = targetAlt;

    var outgoing = allThumbs.filter(function(t) { return t.style.display !== 'none'; });
    var incoming = allThumbs.filter(function(t) {
      return (t.dataset.title || '').toLowerCase() === targetAlt;
    });

    // 1. Old cells: fade out + drift up together
    outgoing.forEach(function(t) {
      t.style.transition = 'opacity 0.36s ease, transform 0.36s ease';
      t.style.opacity    = '0';
      t.style.transform  = 'translateY(-10px)';
    });

    setTimeout(function() {
      // 2. Swap which cells are visible
      swap();

      // 3. New cells start below, invisible — no transition yet
      incoming.forEach(function(t) {
        t.style.transition = 'none';
        t.style.opacity    = '0';
        t.style.transform  = 'translateY(12px)';
      });

      // 4. Staggered drift-up + fade-in for each new cell
      requestAnimationFrame(function() {
        requestAnimationFrame(function() {
          incoming.forEach(function(t, i) {
            setTimeout(function() {
              t.style.transition = 'opacity 0.48s ease, transform 0.48s ease';
              t.style.opacity    = '1';
              t.style.transform  = 'translateY(0)';
            }, i * 70);
          });
        });
      });
    }, 360);
  }

  // Apply initial state
  applyThumbnailVisibility(window.lcInitialThumbAlt);

  // Flickity lazy-load events (require jQuery + Flickity jQuery plugin)
  if ($) {
    var $gallery = $('.product-gallery__main').first();
    if ($gallery.length) {
      $gallery.on('change.flickity', function() {
        loadSlideImages($gallery.find('.is-selected')[0]);
      });
      $gallery.on('settle.flickity', function() {
        var $all = $gallery.find('.product-gallery__image');
        var idx  = $all.index($gallery.find('.is-selected'));
        loadSlideImages($all[(idx + 1) % $all.length]);
      });
    }
  }

  // Variant-change: show thumbnails when Type is not Unframed
  var variantSelEl = document.querySelector('[data-variant-selection]');
  if (variantSelEl) {
    variantSelEl.addEventListener('variant-change', function(e) {
      var variant = e.detail && e.detail.variant;
      applyThumbnailVisibility(getTargetAlt(variant));
    });
  }
});
</script>
